__pycache__/
*.pyc
*.log
*.zip
build/
dist/
target/
qbee-game-speed-limiter-windows/
download-client-game-speed-limiter-windows/
*.spec
download_limiter_config.exe
download_limiter_monitor.exe
download_client_game_speed_limiter.json
download_client_game_speed_limiter.log
download_limiter_status.json
download_limiter_monitor.stop
qbee_game_speed_limiter.exe
qbee_limiter_config.exe
qbee_limiter_monitor.exe
qbee_game_speed_limiter.json
qbee_limiter_status.json
qbee_limiter_monitor.stop
